__pycache__/
*.py[cod]
*$py.class
.DS_Store
.vscode/
.idea/

.venv/
venv/
env/

*.pth
*.pt
*.ckpt
*.safetensors
*.bin
*.pkl

*.glb
*.ply
*.obj
skeleton.json
skeleton_*.json
temp_*.jpg
temp.jpg

dinov3.zip
dinov3_temp_extract/
install.txt
tree.txt

*.egg-info/
build/
dist/

*.log
runs/
results/

.gradio/
.ruff_cache/
checkpoints/
